<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500" style="z-index: 900;">
    <div class="container" *ngIf="isPayment()">
        <div class="navbar-translate">
            <a class="navbar-brand" style="color:white">
                Pict <i class="fa fa-cog fa-spin fa-lg fa-fw"></i> Vision</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation() || isProfile()">
                    <a style="color:white" class="btn btn-danger btn-round" rel="tooltip" title="Pict Vison Prime"
                        data-placement="bottom" (click)="doSSO()"><i
                            class="fa fa-star fa-spin fa-3x fa-fw"></i>{{isPrime()}}</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
                        target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
                        target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
                        target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="isHome()">
                    <a [routerLink]="['/login']" class="btn btn-danger btn-round">Log In</a>
                </li>
                <li class="nav-item" *ngIf="isHome()">
                    <a [routerLink]="['/signup']" class="btn btn-danger btn-round">Sign Up</a>
                </li>
                <li class="nav-item" *ngIf="isProfile()">
                    <a style="color:white;" (click)="logout()" class="btn btn-danger btn-round">Logout</a>
                </li>
                <li class="nav-item" *ngIf="!isHome() && !isProfile()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link"><i
                            class="nc-icon nc-layout-11"></i>home</a>
                    <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a>
                </li>
                <li class="nav-item" *ngIf="isDocumentation()">
                    <a target="_blank" class="nav-link">Have an issue</a>
                </li>
            </ul>
        </div>
    </div>
</nav>