<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/dataImg1.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/profile_Icon.jpg" alt="Circle Image"
                        class="img-circle img-no-padding img-responsive">
                    <i rel="tooltip" title="You are Prime" *ngIf="globals.userInfo.isPrime"
                        class="fa fa-star fa-2x fa-fw" style="color:orangered;margin-left: -8px;"></i>
                </div>
                <div class="name">
                    <h3 class="title">{{user_fullName}}<br /></h3>
                    <h4 class="description">{{user_emailId}}, {{user_country | titlecase}}</h4>
                    <a style="margin-top: 35px;margin-bottom: -20px;" class="btn btn-outline-danger btn-round"
                        (click)="userBuyImage()"><i class="fa fa-cart-plus fa-lg fa-fw"></i> Buy Image</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">

        <div class="section" id="carousel">
            <div class="container">
                <div class="tim-title">
                    <h1 style="text-align: center;"><b>Pict Vison Plans</b></h1>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/caro-img1.jpg" alt="Random first slide">
                                    <div style="text-align: center;">
                                        <h2><b>Get 50 images for free</b></h2>
                                        <h3><b>Try the 50 images per month plan for free right now with a 30-day trial.
                                                Cancel anytime.</b></h3>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/caro-img2.jpg" alt="Random second slide">
                                    <div style="text-align: center;">
                                        <h2><b>Upto 15 1080p images accessible</b></h2>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/caro-img3.jpg" alt="Random third slide">
                                    <div style="text-align: center;">
                                        <h2><b>Upto 20 HD images download allowed</b></h2>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>