.backdropBackground {
    background-color: grey;
}

@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

.rwd-table {
    margin: 3em 0;
    min-width: 390px;
    margin-left: auto;
    margin-right: auto;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 9.5em;
    display: inline-block;
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

@media (min-width: 480px) {

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
}

body {
    padding: 0 2em;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}

.rwd-table {
    background: grey;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
    width: 95%;
}

.rwd-table tr {
    border-color: white;
}

.rwd-table th,
.rwd-table td {
    margin: .5em 1em;
}

@media (min-width: 480px) {

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th,
.rwd-table td:before {
    color: white;
}

.tab3 {
    margin: 6em;
    margin-left: 39%;
}

.tab3 button {
    margin-left: 6%;
    margin-top: -3%;
}


@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

.card-div {
    margin-top: -1%;
    margin-right: 30%;
}

.plancard {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.03);
    border-right: 1px #dde0e2 solid;
    border-radius: 4px 4px 0 0;
    position: relative;
    background-color: white;
    color: #56575b;
    margin: 5px 0;
    width: 580px;

    .plan-name {
        padding: 13px 0;
        border-bottom: 1px #eff0f2 solid;
        text-align: center;
        text-transform: uppercase;
        font-size: 35px;
        color: #464c50;
        font-family: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        letter-spacing: 1px;
    }

    .plan-description {
        padding: 15px;
        line-height: normal;
        min-height: 175px;
        font-size: 24px;
        line-height: 18px;
    }

    .plan-description b {
        font-size: 20px;
        font-family: "Open sans",
            "Helvetica Neue",
            Helvetica,
            Arial,
            sans-serif;

    }

    .plan-price sub {
        text-transform: none;
        font-size: 16px;
        bottom: 0;
    }

    .plan-price {
        color: red;
        font-family: "Open sans";
        font-size: 20px;
        text-transform: uppercase;
        line-height: 50px;
        margin: -2% 0% 0% 38%;
    }

    sub {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    .plan-description.specs {
        min-height: 200px;
        line-height: 20px;
    }

    .plan-details {
        margin-left: 2%;
        margin-bottom: 5%;
        margin-top: -4%;
    }

    .plan-details b {
        font-size: 14px;
    }

    .plan-details h2 {
        font-size: 18px;
        margin-bottom: -2%;
    }

    .plan-cta {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 0 15px;
        min-height: 95px;

        &:hover a {
            opacity: 0.8;
            color: #fff;
            text-decoration: none;
        }
    }

    .button,
    .button-primary {
        background: #2a5bd7;
        border-radius: 8px;
        font-size: inherit;
        color: white;
        transition: background 100ms linear;
        text-decoration: none;
        line-height: normal;
        outline: none !important;
        padding: 0.6em 1em;
    }
}