<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/profile_Icon.jpg" alt="Circle Image"
                        class="img-circle img-no-padding img-responsive">
                    <i rel="tooltip" title="You are Prime" *ngIf="globals.userInfo.isPrime"
                        class="fa fa-star fa-2x fa-fw" style="color:orangered;margin-left: -8px;"></i>
                </div>
                <div class="name">
                    <h3 class="title">{{user_fullName}}<br /></h3>
                    <h4 class="description">{{user_emailId}}, {{user_country | titlecase}}</h4>
                    <a style="margin-top: 35px;margin-bottom: -20px;" class="btn btn-outline-danger btn-round"
                        (click)="userBuyImage()"><i class="fa fa-cart-plus fa-lg fa-fw"></i> Buy Images</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main" *ngIf="showTransactionTab">
        <mat-tab-group style="margin-left: 400px;margin-right: 450px;">
            <mat-tab label="Transactions">
                <div>
                    <table class="rwd-table">
                        <tr>
                            <th>No of transactions</th>
                            <th>No of Images Purchased</th>
                        </tr>
                        <tr *ngFor="let element of transaction_info">
                            <td>{{element.imagesBuyCount?element.imagesBuyCount:0}}</td>
                            <td>{{element.noOfImagesPurchased?element.noOfImagesPurchased:0}}</td>
                        </tr>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>